.App {
    text-align: center;
  }
  
  .App-logo {
    height: 10vmin;
    pointer-events: none;
  }
  
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }

  .translated-text {
    border: #282c34;
    border-style: solid;
    border-width: 1px;
    padding: 8px;
    height: 100%;
  }
  
  .activityItem {
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 30px;
    border-bottom: 0px dashed #61dafb;
  }
  
  